<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NottsJS: {{ .Title }}</title>
    {{ partial "head.html" . }}
    <style media="screen">
      .logo {
        display: block;
        margin: 0 auto 3em auto;
        width: 8em;
      }
      hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      }
      .section a {
        text-decoration: underline;
      }
      .last {
        margin-bottom: 0;
      }
    </style>
  </head>
  <body>
    <div class="section">
      <div class="container">
        <img class="logo header center hoverable" src="img/logo.png" alt="NottsJS Logo" />
      </div>
    </div>

    <hr>
    <div class="container">
      <div class="row">
        <div class="col s12">
          {{ .Content }}
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
