<div class="row">
  <div class="col s12">
    <div class="card-panel talk">
      <h3 class="header light"><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></h3>
      <h6 class="light">{{ .Date.Format "Monday, January 2, 2006" }}</h6>

      {{ if .Params.meetup_url }}
      <a class="btn waves-effect waves-light yellow black-text top-button" href="{{ .Params.meetup_url }}">
        {{ if .Date.After now }}
        RSVP on Meetup<i class="material-icons left">reply</i>
        {{ else }}
        View on Meetup<i class="material-icons left">reply</i>
        {{ end }}
      </a>
      {{ end }}

      <div class="flow-text">
        {{ .Content }}
      </div>

      {{ if .Params.presenter }}
      <hr />
      {{ partial "profile.html" . }}
      {{ end }}
    </div>
  </div>
</div>
