<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="NottsJS is a meetup for developers and anyone else interested in development. We meet every 2nd Tuesday of the month to talk about Node, JavaScript and Full Stack development in the Nottingham area.">
<meta property="og:title" content="NottsJS - Nottingham&apos;s JavaScript Meetup">
<meta property="og:type" content="website">
<meta property="og:url" content="https://nottsjs.org">
<meta property="og:image" content="https://nottsjs.org/img/logo.png">
<meta property="og:site_name" content="NottsJS - Nottingham&apos;s JavaScript Meetup">
<meta property="og:description" content="NottsJS is a meetup for developers and anyone else interested in development. We meet every 2nd Tuesday of the month to talk about Node, JavaScript and Full Stack development in the Nottingham area.">

<meta name="twitter:site" content="@nottsjs">
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="NottsJS - Nottingham&apos;s JavaScript Meetup" />
<meta name="twitter:image" content="https://nottsjs.org/img/logo.png" />
<meta name="twitter:description" content="NottsJS is a meetup for developers and anyone else interested in development. We meet every 2nd Tuesday of the month to talk about Node, JavaScript and Full Stack development in the Nottingham area.">
<meta name="twitter:url" content="https://www.nottsjs.org">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{ "/style.css" | relURL }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | relURL }}" />
