<div class="row">
  <div class="col s4 offset-s4 m12">
    <img class="logo hoverable responsive-img" src="/img/logo.png" alt="NottsJS Logo" />
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <a class="black-text" href="https://goo.gl/maps/CANG94ZcpaL2">
      <address>
        <i class="material-icons valign-middle">place</i>34a Stoney Street,<br />Nottingham,<br />NG1 1NB
      </address>
    </a>
  </div>
</div>

<div class="row sponsor-images">
  <div class="col s3 offset-s2 m6 offset-m3">
    <a href="https://www.wearejh.com/" target="_blank"><img class="responsive-img" src="/img/jhlogo.png" /></a>
  </div>
  <div class="col s5 m8 offset-m2">
    <a href="https://rebelrecruiters.co.uk/" target="_blank"><img class="responsive-img" src="/img/rebel-logo.png" /></a>
  </div>
</div>

<p class="light">Would you like to sponsor us? <a class="black-text" href="mailto:contact@nottsjs.org">contact@nottsjs.org</a></p>
