<div id="scholarship-fund-modal" class="modal">
  <div class="modal-content">
    <h4>Mozilla scholarship fund</h4>
    <p>
      Mozilla is committed to building an open web community where everyone can participate.
    </p>
    <p>
      The scholarship fund is Mozilla&apos;s way of helping us fund travel for participants from under represented groups to speak
      at the event.
    </p>
    <p>
      If you want to speak at our events but feel you need help getting here <a href="mailto:contact@nottsjs.org?Subject=Scholarship+talk">send us an email</a>.
    </p>

    <p>
      As a reminder we have a <a href="/codeofconduct.html">CoC</a> at the event and we take it seriously. We also follow
      <a href="https://www.mozilla.org/en-US/about/governance/policies/participation/">Mozilla&apos;s participation guidelines</a>        and if you feel more comfortable you can email them with any issue that arises at the event.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <a href="mailto:contact@nottsjs.org?Subject=Scholarship+talk" class="modal-action waves-effect waves-green btn-flat">Talk at NottsJS</a>
  </div>
</div>
