<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 m4 l3 center-align">
          {{ partial "left_content.html" . }}
        </div>

        <div class="col s12 m8 l9 left-align">
          {{ range first 1 .Pages }}
          <div class="row">
            <div class="col s12">
              <h3 class="header">Next event: {{ .Date.Format "Monday, January 2, 2006" }}</h3>
              <h5 class="header light">{{ .Params.starttime }} to {{ .Params.endtime }}</h5>
            </div>
          </div>

          {{ partial "event.html" . }}
          {{ end }}

          <div class="row">
            <div class="col s12">
              <h5 class="header"><a href="past.html">View past events</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "declaration.html" . }}
    {{ partial "help_out.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
